@namespace html "http://www.w3.org/1999/xhtml";

:root {
    --red-50-a30: rgba(255, 0, 57, 0.3);
}

/* region textfield */
input[type="text"] {
    border-color: var(--grey-90-a30);
}

input[type="text"]:hover {
    border-color: var(--grey-90-a50);
}

input[type="text"]:focus {
    border-color: var(--blue-50);
    box-shadow: 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);
}

input[type="text"]:invalid {
    border-color: var(--red-50);
    /*box-shadow: 0 0 0 1px var(--red-50), 0 0 0 4px var(--red-50-a30);*/
}

input[type="text"]:invalid:focus {
    border-color: var(--red-50);
    box-shadow: 0 0 0 1px var(--red-50), 0 0 0 4px var(--red-50-a30);
}

/* endregion */

/* region checkbox */
html|input[type="checkbox"] {
    height: 16px;
    width: 16px;
    padding-right: 4px;
    border-radius: 2px;
    border: 1px solid var(--grey-90-a30);
}

html|input[type="checkbox"]:checked {
    background-color: var(--blue-60);
    border-color: var(--blue-60);
    -moz-context-properties: fill;
    fill: var(--white-100);
}

html|input[type="checkbox"]:checked:hover {
    background-color: var(--blue-70);
}

html|input[type="checkbox"]:checked:active {
    background-color: var(--blue-80);
}

html|input[type="checkbox"]:hover {
    background-color: var(--grey-90-a20);
}

html|input[type="checkbox"]:active {
    background-color: var(--grey-90-a30);
}

html|input[type="checkbox"]:focus {
    border: none;
    box-shadow: 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);;
}

html|input[type="checkbox"]:disabled ~ label {
    opacity: 0.4;
}

/* endregion */

/* region radiobox */
/*TODO*/

/* endregion */