body{
    padding: 30px;
    background-clip: #f9f9fa;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
}

.col{
    float: left;
    height: 100%;
    margin: 10px;
}

.right{
    width: 240px;
    font-size: 16px;
}

.center{
    width: 692px;
}

.spacer{
    height: 5px;
}

.menu-item{
    padding: 3px;
    border-radius: 3px;
}

.menu-item:hover{
    background: #ebebeb;
}

.menu-item.active-fake{
    background: #dadada;
}

.icon {
    height: 16px;
    width: 16px;
    float:left;
    margin-top: 3px;
    margin-right: 5px;
    background-size: 16px 16px;
}

.icon.star{
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/themes/shared/icons/bookmark-hollow.svg");
}

.icon.star.filled{
    background-image: url("bookmark-fill.svg");

}

.icon.search{
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/extensions/onboarding/content/img/icons_singlesearch.svg");
}

.icon.add{
     background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/devtools/client/themes/images/add.svg");
}

.icon.lock{
     background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/themes/shared/incontentprefs/privacy-security.svg");
}

.icon.copy{
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/extensions/screenshots/webextension/icons/copy.svg");
}

.icon.reset{
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/themes/shared/icons/reload.svg");
}

.search-bar{
    width: 100%;
}

.blocked{
    color: #555555;
}

.odd {
    background: #ebebeb;
}

.edit {
    width: 100%;
}

.new-entry {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
