@namespace html "http://www.w3.org/1999/xhtml";

:root {
    --pane-width: 664px;
    --button-margin: 4px;
    --icon-size: 16px;
    --icon-margin: 5px;
    --texfield-padding-x: 10px;
    --textfield-border-radius: 2px;
    --main-content-y-padding: 40px;
    --table-border-radius: 2px;
    /*TODO: more variables. Generalize!*/
}

.spacer {
    height: 5px;
}

/* region ICONS */
.icon {
    height: var(--icon-size);
    width: var(--icon-size);
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--icon-size) var(--icon-size);
    align-self: center;
}

span.icon{
    float: left;
    /* TODO I don't know why this is necessary*/
}

.icon-description {
    padding-left: var(--icon-margin);
    align-self: center;
}

.icon.icon--star {
    background-image: url("chrome://browser/skin/bookmark-hollow.svg");
}

.icon.icon--filled-star {
    background-image: url("chrome://browser/skin/bookmark.svg");
}

.icon.icon--search {
    /*TODO: not sure which one I should use here...*/
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/extensions/onboarding/content/img/icons_singlesearch.svg");
}

.icon.icon--add {
    /*TODO: not sure which one I should use here...*/
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/devtools/client/themes/images/add.svg");
}

.icon.icon--lock {
    background-image: url("chrome://browser/skin/preferences/in-content/privacy-security.svg");
}

.icon.icon--copy {
    background-image: url("chrome://browser/skin/edit-copy.svg");
}

.icon.icon--reset {
    background-image: url("chrome://browser/skin/undo.svg");
}

.icon.icon--trash {
    /*probably browser/components/newtab/data/content/assets/glyph-delete-16.svg; but no chrome:// link for that one*/
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/components/newtab/data/content/assets/glyph-delete-16.svg");
}

.icon.icon--save {
    /*chrome://global/skin/icons/check.svg does not work (Win 10)*/
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/toolkit/themes/shared/icons/check.svg");
}

.icon.icon--toggle {
    background-image: url("chrome://browser/skin/developer.svg");
}

/* endregion */

/* region CONTAINER */
.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: fixed;
}

.pane-container {
    width: var(--pane-width);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navigation {
    overflow-x: hidden;
    overflow-y: auto;
}

.main-content {
    flex-grow: 1; /* such that the scrollbar is on the right border ;)*/
}

/* endregion */

/* region NAVIGATION */
#categories > .category.category-small {
    display: flex;
    flex-direction: row;
    min-height: 24px;
}

/* endregion*/

/* region STICKY */
.tricky-hide {
    /*TODO: this is an ugly trick...*/
    position: fixed;
    top: 0;
    height: var(--main-content-y-padding);
    width: var(--pane-width);
    background-color: var(--in-content-page-background);
    z-index: 1;
}

.sticky-container {
    position: sticky;
    top: 0;
    background-color: var(--in-content-page-background);
    z-index: 2;
}

html|input[type="text"].search-box {
    margin-left: calc(var(--button-margin) - var(--icon-size));
    margin-right: var(--button-margin);
    padding-left: calc(var(--texfield-padding-x) + var(--icon-margin) + var(--icon-size));
    flex-grow: 1;
}

.icon.icon--search.in-search-box {
    margin: 0;
    padding: 6px 0;
    position: relative;
    left: var(--texfield-padding-x);
    transform: scaleX(-1);
}

.new-entry {
    /*TODO: design that!*/
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.line {
    /* TODO: use flex-breaks? */
    width: 100%;
    display: flex;
    flex-direction: row;
}

.line > .growth {
    flex-grow: 1;
}

/* TODO: these are hacky! */
.line > .selects {
    margin: 4px;
    padding: 3px;
}

.search-label {
    bottom: 4px;
    right: 0.5em;
    position: relative;
}

.search-select {
    margin: 4px;
}

/* endregion */

/* region TABLE */
.pref-table {
    width: calc(var(--pane-width) - 2px);
    /*border-collapse: collapse;*/
    display: table;

    font-size: 1em;
    border: 1px solid var(--in-content-box-border-color);
    border-radius: var(--table-border-radius) var(--table-border-radius) 0 0;
    background-color: var(--in-content-box-background);
    margin: 0;
}

.pref-table.snd-table {
    border-top: none;
    border-radius: 0 0 var(--table-border-radius) var(--table-border-radius);
}

.pref-table .row {
    display: table-row;
}

.row .cell {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 10px;
}

.row .cell.in-edit {
    padding: 3px 0 0 0; /* TODO: hack to make look symmetric */
}

.pref-table .header {
    color: #808080; /* TODO change to grey-50? */
    border-bottom: 1px solid #c1c1c1;
    padding: 0;
}

.pref-table .head-cell {
    display: table-cell;
    text-align: left;
    border: none;
    background-color: var(--in-content-box-background-hover);
    padding: 5px 10px;
}

.pref-table .head-cell:hover {
    background-color: var(--in-content-box-background-active);
    color: var(--in-content-text-color);
}

.pref-table .head-cell:not(:first-child) {
    /*display: table-cell;
    border-left: 1px solid;
    border-image: linear-gradient(transparent 0%, transparent 20%, hotpink 20%, hotpink 80%, transparent 80%, transparent 100%) 1 1;*/
    display: table-cell;
    border-left: 1px solid;
    padding-left: 9px;
    border-image: linear-gradient(transparent 0%, transparent 20%, #c1c1c1 20%, #c1c1c1 80%, transparent 80%, transparent 100%) 1 1;
    /*TODO: maybe change to photon colour?!*/
}

.row:nth-child(2n+0) {
    background: var(--grey-20);
}

.col-1 {
    width: var(--icon-size);
}

.col-2 {
    width: 258px;
}

.col-3 {
    width: var(--icon-size);
}

.col-4 {
    width: 258px;
}

.col-5 {
    width: var(--icon-size);
}

.blocked {
    /*color: #555555;*/
    opacity: 0.6;
}

.edited {
    font-weight: bold;
}

.edit {
    width: 100%;
}

/* endregion */

/* region EDIT */
.edit-flex {
    display: inline-flex;
    width: 100%;
    border: none;
    border-radius: 2px;
    overflow: hidden;
}

html|input[type="text"].edit-box {
    flex: 1;
    border-radius: 0;
}

html|button.edit-save {
    margin: 0;
    min-width: 0;
    border-radius: 0;
    border-left: none;
}

/* endregion*/

/* region COLLAPSED -- @media (max-width: 830px) */
@media (max-width: 830px) {
    #categories > .category.category-small {
        margin-left: 5px;
        margin-right: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* endregion */