/* region ICONS */
.icon {
    height: 16px;
    width: 16px;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    background-size: 16px 16px;
    background: no-repeat center;
}

.icon.star {
    background-image: url("chrome://browser/skin/bookmark-hollow.svg");
}

.icon.star.filled {
    background-image: url("chrome://browser/skin/bookmark.svg");
}

.icon.search {
    /*TODO: not sure which one I should use here...*/
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/extensions/onboarding/content/img/icons_singlesearch.svg");
}

.icon.add {
    /*TODO: not sure which one I should use here...*/
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/devtools/client/themes/images/add.svg");
}

.icon.lock {
    background-image: url("chrome://browser/skin/preferences/in-content/privacy-security.svg");
}

.icon.copy {
    background-image: url("chrome://browser/skin/edit-copy.svg");
}

.icon.reset {
    background-image: url("chrome://browser/skin/undo.svg");
}

.icon.trash {
    /*probably browser/components/newtab/data/content/assets/glyph-delete-16.svg; but no chrome:// link for that one*/
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/components/newtab/data/content/assets/glyph-delete-16.svg");
}

.icon.save {
    /*chrome://global/skin/icons/check.svg does not work (Win 10)*/
    background-image: url("https://hg.mozilla.org/mozilla-central/raw-file/tip/toolkit/themes/shared/icons/check.svg");
}

.icon.toggle {
    background-image: url("chrome://browser/skin/developer.svg");
}

/* endregion */

/* region CONTAINER */
.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: fixed;
}

.pane-container {
    width: 664px;
    overflow: auto;
}

.navigation {
    overflow-x: hidden;
    overflow-y: auto;
}

.main-content {
    flex-grow: 1; /* such that the scrollbar is on the right border ;)*/
}

/* endregion */

/* region NAVIGATION */
#categories > .category.category-small {
    min-height: 24px;
}

.spacer {
    height: 5px;
}

.menu-item {
    padding: 3px;
    border-radius: 3px;
}

.menu-item:hover {
    background: #ebebeb;
}

.menu-item.active-fake {
    background: #dadada;
}

@media (max-width: 830px) {
    #categories > .category.category-small {
        margin-left: 5px;
        margin-right: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* endregion*/

/* region STICKY */
.sticky-container {
    /* TODO */
}

button.right {
    margin-right: 0;
}

.search-box {
    margin-left: -16px;
    padding-left: 31px !important; /* regular + icon + icon-margin: 10+16+5*/
    flex-grow: 1;
}

.icon.search.in-search-box {
    margin: 0;
    padding: 6px 0;
    position: relative;
    left: 10px; /* the 10px padding of the text field */
    transform: scaleX(-1);
}

.new-entry {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.line {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.line > .growth {
    flex-grow: 1;
}

.line > .selects {
    margin: 4px;
    padding: 3px;
}

.search-label {
    bottom: 4px;
    right: 0.5em;
    position: relative;
}

.search-select {
    margin: 4px;
}

/* endregion */

/* region TABLE */
.blocked {
    /*color: #555555;*/
    opacity: 0.6;
}

.odd {
    background: #ebebeb;
}

.edited {
    font-weight: bold;
}

.edit {
    width: 100%;
}

/* endregion */