input[type=radio]:checked {
    background-color:var(--blue-60);
    background-image:url('https://design.firefox.com/photon/images/components/radio-buttons/radiobutton-marker-16.svg');
    background-size:16px;
    border:none
}
input[type=radio] {
    -moz-appearance:none;
    -webkit-appearance:none;
    background-color:var(--grey-90-a10);
    background-position:50%;
    background-repeat:no-repeat;
    background-size:4px;
    border:1px solid var(--grey-90-a30);
    border-radius:100%;
    font-size:14px;
    height:16px;
    margin-right:4px;
    width:16px
}
input[type=radio]+label {
    flex:1 1 auto;
    font-size:14px
}
input[type=radio]:hover {
    background-color:var(--grey-90-a20)
}
input[type=radio]:hover:active {
    background-color:var(--grey-90-a30)
}
input[type=radio]:focus {
    animation:none;
    border:0;
    box-shadow:0 0 0 1px var(--blue-50) inset,0 0 0 1px var(--blue-50),0 0 0 4px var(--blue-50-a30)
}
input[type=radio]:checked:hover {
    background-color:var(--blue-70)
}
input[type=radio]:checked:hover:active {
    background-color:var(--blue-80)
}
#focus-example label {
    font-size:13px
}
.radiobutton-wrapper span {
    display:inline-block;
    font-size:1.25em;
    font-weight:700;
    line-height:1.25em;
    margin-bottom:8px
}
